@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root{
    --color-primary: #446084;
    --color-secondary: #abb8c3;
    --color-tertiary: #777;
}

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    letter-spacing: .256px;
}

body{
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

img{
    width: 100%;
    max-width: 100%;
}

.conatiner-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1080px;
    padding: 0 15px;    
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    width: 100%;
}

.vertical-divider{
    border-left: 1px solid rgba(0,0,0,.1);
    height: 100%;
    margin: 0 7.5px;
}

.dancing{
    font-family: 'Dancing Script', cursive;
}

.short-separator{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 30px;
    height: 3px;
    margin: 16px auto;
    border: none;
}

/* Header Styles */

#header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    margin-top: -90px;
}


#header p{
    display: flex;
    align-items: center;
    margin: 0 5.5px;
    
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: .3s;
    color: var(--color-tertiary);
}


#header p:hover{
    color: #323232;
}
.img-container{
    display: flex;
    align-items: start;
    justify-content: center;
}

.img-container img{
    width: 80%;
    margin-right: 20px;
}

.items-container{
    display: flex;
    justify-content: start;
}

.items-container p span{
    font-size: 16px;
    font-weight: 300;
}

.items-container .normal span{
    font-size: 25px !important;
    font-weight: 450 !important;
}

.cart{
    display: flex;
    justify-content: end;
    align-items: center;
}

.bag-container{
    position: relative;
}

.bag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.8px;
    font-weight: 700;
    color: var(--color-primary);

    height: 26px;
    width: 26px;
    border: 2px solid var(--color-primary);
    transition-duration: .2s;
}

.bag:hover{
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

.bag::after{
    border: 2px solid var(--color-primary);
    border-bottom: 0;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    content: " ";
    height: 4px;
    width: 10px;

    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7.5px;

    transition-duration: .15s;
}

.bag-container:hover .bag::after{
    height: 6px !important;
}


/* End Header Styles */

/* Main Styles */

main{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;

    height: 600px;
    margin-top: 85px;
    
    background-image: url("images/main1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


main p{
    font-size: 32px;
    margin-bottom: -12px;
}

main h1, h2{
    text-transform: uppercase;
}

main h1{
    font-size: 89.6px;
    letter-spacing: 2.8px;
}

main h2{
    font-size: 56px;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

main button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 15.2px;
    font-weight: 700;
    padding: 8px 18.624px;
    margin-right: 15.52px;
    transition-duration: .3s;
    letter-spacing: 0.4656px;
}

main button:hover{
    background-color: white;
    color: rgb(102, 102, 102);
    cursor: pointer;
}