@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


:root{
    --color-primary: #446084;
    --color-secondary: #abb8c3;
    --color-tertiary: #777;
    --dark-grey: rgb(85, 85, 85);
    --light-grey: rgb(119, 119, 119);
    --lighter-grey: rgb(182, 182, 182);
    --dark-primary: rgb(51, 72, 98);
    --color-footer: #f1f1f1;
}

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    letter-spacing: 0.7px;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    letter-spacing: 0px;
}

body{
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

img{
    width: 100%;
    max-width: 100%;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1050px;
    min-height: 100%;
    padding: 0 15px;    
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
}

.col-2{
    flex-basis: 50%;
}

.col-3{
    flex-basis: 25%;
}

.col-4{
    flex-basis: 33.33%;
}

.vertical-divider{
    border-left: 1px solid rgba(0,0,0,.1);
    min-height: 80%;
    width: 1px;
    min-height: 20px;
    margin: 0 7.5px;
}

.dancing{
    font-family: 'Dancing Script', cursive;
}

.short-separator{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 30px;
    height: 3px;
    margin: 15px auto;
    border: none;
}

.separator{
    display: flex;
    margin-bottom: 10px;
}
.separator hr{
    flex-grow: 1;
    height: 2px;
    opacity: .1;
    background-color: var(--dark-grey);
    border: none;
}
.separator h3{
    color: var(--dark-grey);
    margin: 0 15px;
    font-size: 19px;
    text-transform: uppercase;
}

/* Header Styles */

#header{
    background-color: var(--color-primary);
    color: white;
    height: 30.47px;
}

#header p{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 11px;
    line-height: 14.4px;

    margin-right: auto;
}

#header small{
    display: flex;
    align-items: center;
    color: #fffc;
    margin: 0 .08em;
    margin-left: 0;
    letter-spacing: .1px;

    cursor: pointer;
    transition-duration: .3s;
}

#header small:hover{
    color: white;
}

#header .vertical-divider{
    min-height: 15px !important;
    border-left: 1px solid hsla(0,0%,100%,.2);
}

#header span{
    font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
    font-size: 14px;
    margin: 0 2px;
}

#header .icons-container{
    margin-left: 8px;
}

#header .icons-container i:first-child{
    font-size: 12px;
}

#header .icons-container i{
    margin: 0 0.3em;
    font-size: 13px;
    color: white !important;
}


/* Nav Styles */

#nav{
    position: sticky;
    top: 0px;
    z-index: 10;

    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.16);
}


#nav p{
    display: flex;
    align-items: center;
    margin: 0 7px;
    
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: .3s;
    letter-spacing: .4px;
    color: var(--color-tertiary);
}


#nav p:hover{
    color: #323232;
}

#nav .img-container{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-right: 20px;
    max-width: 200px;
}


#nav .items-container{
    display: flex;
    justify-content: start;
}

#nav .items-container p span{
    font-size: 16px;
    font-weight: 300;
}

#nav .items-container .normal i{
    font-size: 1.2em !important;
    
}

#nav .cart{
    display: flex;
    justify-content: end;
    align-items: center;
}

#nav .bag-container{
    position: relative;
}

#nav .bag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.8px;
    font-weight: 700;
    color: var(--color-primary);

    height: 26px;
    width: 26px;
    border: 2px solid var(--color-primary);
    transition-duration: .2s;
}

#nav .bag:hover{
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

#nav .bag::after{
    border: 2px solid var(--color-primary);
    border-bottom: 0;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    content: " ";
    height: 4px;
    width: 10px;

    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;

    transition-duration: .15s;
}

#nav .bag-container:hover .bag::after{
    height: 6px !important;
}


/* End Header Styles */

/* Main Styles */

main{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;

    height: 600px;
    
    background-image: url("images/main1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


main p{
    font-size: 31px;
    margin-bottom: -12px;
}

main h1, h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}

main h1{
    font-size: 86px;
}

main h2{
    font-size: 3.5em;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

main button{
    background-color: transparent;
    border: 2px solid rgb(241, 241, 241);
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    font-size: 15.2px;
    font-weight: 700;
    padding: 9px 19px;
    margin-right: 17px;
    transition-duration: .3s;
    letter-spacing: 0.4656px;
}


main button:last-child{
    margin-right: 0px;
}

main button:hover{
    background-color: rgb(241, 241, 241);
    color: rgb(102, 102, 102);
    cursor: pointer;
}


main .anormal{
    margin-bottom: 25px;
}


/* End Main Styles */

/* Desc Styles */

#desc .short-separator{
    margin-top: 10px;
}

#desc .col-4{
    width: 100%;
    height: 160px;
    margin: 30px 15px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;

    position: relative;
}

#desc .col-4 h4{
    color: white;
    font-size: 24.65px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

#desc .col-4 .bg-inner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition-duration: .6s;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

#desc .col-4:hover .bg-inner{
    transform: translate(-50%, -50%) scale(1.1);
}

#desc .col-4 .text-overlay{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: .3s;
}

#desc .col-4:hover .text-overlay{
    background-color: rgba(68, 96, 132, 0.3);
}



#desc .col-4:nth-child(1) .bg-inner{
    background-image: url("images/desc1.jpg");
}

#desc .col-4:nth-child(2) .bg-inner{
    background-image: url("images/desc2.jpg");
}

#desc .col-4:nth-child(3) .bg-inner{
    background-image: url("images/desc3.jpg");
}


/* End Desc Styles */

/* Flip Styles */

.flip{
    align-items: start;
}


.flip .col-3{
    padding: 19.6px 9.8px;
    cursor: pointer;
}

.flip small{
    color: var(--light-grey);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10.8px;
}

.flip p{
    color: var(--dark-primary);
    font-size: 14.4px;
    letter-spacing: .256px;
    margin: 2px 0;
}

.flip p:hover{
    color: black;
}

.flip b{
    font-weight: 700;
    font-size: 14.4px;
}

del{
    color: var(--light-grey);
}



.flip-img-container{ /* Este código será reusado */
    height: 300px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.flip-bg-inner{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 2;
    transition-duration: .6s;
}

.flip-img-container:hover .flip-bg-inner{
    opacity: 0;
}

.flip-bg-inner-reverse{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.bot-box{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: var(--color-primary);
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    padding: 8px 0;
    font-weight: 700;
    font-size: 13px;
    top: 100%;
    z-index: 3;
    transition-duration: .3s;
}

.flip-img-container:hover .bot-box{
    top: 89.2%;
}


#flip .col-3:nth-child(1) .flip-bg-inner{
    background-image: url("images/flip11.jpeg");
}

#flip .col-3:nth-child(2) .flip-bg-inner{
    background-image: url("images/flip21.jpeg");
}

#flip .col-3:nth-child(3) .flip-bg-inner{
    background-image: url("images/flip31.jpeg");
}

#flip .col-3:nth-child(4) .flip-bg-inner{
    background-image: url("images/flip41.jpeg");
}



#flip .col-3:nth-child(1) .flip-bg-inner-reverse{
    background-image: url("images/flip12.jpeg");
}

#flip .col-3:nth-child(2) .flip-bg-inner-reverse{
    background-image: url("images/flip22.jpeg");
}

#flip .col-3:nth-child(3) .flip-bg-inner-reverse{
    background-image: url("images/flip32.jpeg");
}

#flip .col-3:nth-child(4) .flip-bg-inner-reverse{
    background-image: url("images/flip42.jpeg");
}

/* End Flip Styles */

/* Prod Styles */

#prod .col-3:nth-child(1) .flip-bg-inner{
    background-image: url("images/prod11.jpeg");
}

#prod .col-3:nth-child(2) .flip-bg-inner{
    background-image: url("images/prod21.jpeg");
}

#prod .col-3:nth-child(3) .flip-bg-inner{
    background-image: url("images/prod31.jpg");
}

#prod .col-3:nth-child(4) .flip-bg-inner{
    background-image: url("images/prod41.jpeg");
}



#prod .col-3:nth-child(1) .flip-bg-inner-reverse{
    background-image: url("images/prod12.jpeg");
}

#prod .col-3:nth-child(2) .flip-bg-inner-reverse{
    background-image: url("images/prod22.jpeg");
}

#prod .col-3:nth-child(3) .flip-bg-inner-reverse{
    background-image: url("images/prod32.jpg");
}

#prod .col-3:nth-child(4) .flip-bg-inner-reverse{
    background-image: url("images/prod42.jpeg");
}

/* End Prod Styles */

/* Categories Styles */

#categories .col-3{
    height: 296px;
    background-size: cover;
    background-position: center center;
    margin: 0 9.8px 19.6px;
    position: relative;
}

#categories .col-3:nth-child(1){
    background-image: url("images/cat1.jpg");
}

#categories .col-3:nth-child(2){
    background-image: url("images/cat2.jpeg");
}

#categories .col-3:nth-child(3){
    background-image: url("images/cat3.jpg");
}

#categories .col-3:nth-child(4){
    background-image: url("images/cat4.jpeg");
}

#categories .text-container{
    background-color: hsla(0,0%,100%,.95);
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 14.4px 0;
    top: 65%;
    transition-duration: .3s;
}

#categories .text-container p{
    color: #555;
    font-size: 14.4px;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: .3s;
}

#categories .text-container small{
    font-size: 10.2px;
    color: var(--dark-primary);
    text-transform: uppercase;
    transition-duration: .3s;
}

#categories .col-3{
    cursor: pointer;
}

#categories .col-3:hover .text-container{
    background-color: var(--color-primary);
}

#categories .col-3:hover p, 
#categories .col-3:hover small{
    color: white;
}

/* End Categories Styles */

/* Icon Styles */

#icons{
    margin: 40px 0;
}


#icons .col-4{
    display: flex;
    flex-direction: column;
    padding: 0 15px 30px;
}

#icons .col-4 *{
    align-self: center;
}

#icons span{
    border: 2px solid var(--lighter-grey);
    border-radius: 50%;
    padding: 7px;
    font-size: 30px;
    color: var(--lighter-grey);
    transition-duration: .2s;
}

#icons .col-4:hover span{
    background-color: var(--lighter-grey);
    color: white;
}


#icons h5{
    text-transform: uppercase;
    font-size: 16px;
    color: var(--dark-grey);
    margin: 8px 0;
}

#icons p{
    text-align: center;
    letter-spacing: .1px;
    line-height: 25.6px;
    color: var(--light-grey);
}

#icons .vertical-divider{
    min-height: 220px;
}

/* End Icons Styles */

/* Testimonial Styles */

#testimonial{
    background-image: url("images/testimonial.jpg");
    height: 300px;
    background-size: cover;
    background-position: center center;
    color: white;
}

#testimonial .row{
    flex-direction: column;
    align-items: start;
    max-width: 842px;
}

#testimonial .stars-container{
    color: #D26E4B;
}

#testimonial .stars-container:first-child{
    margin-left: 5px;

}

#testimonial .stars-container span{
    margin-left: -8px;
    font-size: 20px;
}

#testimonial .text-container{
    font-style: italic;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4em;
}

/* End Testimonial Styles */

/* News Styles */

#news .row{
    align-items: start;
}

#news .col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#news img{
    width: 245px;
    height: 160px;

    margin-bottom: 10px;
}

#news h5{
    color: var(--dark-grey);
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

#news .short-separator{
    background-color: #d5d5d585 !important;
    height: 2px;
}


#news p {
    color: var(--light-grey);
    text-align: center;
    font-size: 14.4px;
    line-height: 23.04px;
    padding: 0 20px;
}

#news .date{
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    position: absolute;
    top: 22px;
    left: 0;

    transition-duration: .3s;
}

#news .col-3:hover .date{
    background-color: var(--color-primary);
    color: white;
}


#news .date h6{
    font-size: 15px;
}

#news small{
    font-size: 12px;
    font-weight: 700;
}

/* End News Style */

/* Min Styles */

#min .row{
    align-items: start;
}

#min .col-3{
    padding: 10px;
}

#min .header{
    color: var(--light-grey);
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}

#min .short-separator{
    background-color: #d5d5d585 !important;
    margin-top: 0px;
    margin-left: 15px;
}

#min .item{
    display: flex;
    border-bottom: 1px solid #ebebeb;
    margin: 5px;
    padding: 5px;
}

#min .item img{
    height: 60px;
    width: 60px;
    margin-bottom: 5px;
}

#min .item .text-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
}

#min .item p{
    color: var(--dark-primary);
    margin-bottom: 8px;
}

#min .item del{
    font-weight: 400 !important;
}

/* End Min Styles */

/* Footer Styles */

footer{
    padding-top: 30px;
    background-color: var(--light-grey);
    color: var(--color-footer);
    line-height: 24px;
}

footer .row{
    align-items: start;
}

footer .col-3{
    padding: 0 15px;
}

footer .header{
    font-size: 16px;
    font-weight: 600;
    
}

footer .short-separator{
    margin-left: 0;
}


footer .icons-container{
    display: flex;
    margin-top: 20px;
}

footer .icons-container i{
    border: 2px solid var(--lighter-grey);
    padding: 5px;
    border-radius: 50%;
    width: 18px;
    display: grid;
    place-items: center;
    margin: 3px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: .2s;
}

footer .icons-container i:nth-child(1):hover{
    --face-color: #2e4f77;
    border-color: var(--face-color);
    background-color: var(--face-color);
}

footer .icons-container i:nth-child(2):hover{
    border-color: #26709b;
    background-color: #26709b;
}

footer .icons-container i:nth-child(3):hover{
    --twitter-color: #008cdd;
    border-color: var(--twitter-color);
    background-color: var(--twitter-color);
}

footer .icons-container i:nth-child(4):hover{
    border-color: black;
    background-color: black;
}

footer .icons-container i:nth-child(5):hover{
    border-color: red;
    background-color: red;
}

footer .date-container{
    display: flex;
    align-items: start;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

footer .date-container .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 32px;
    min-width: 32px;

    border: 2px solid var(--color-footer);
    margin-right: 15px;
}

footer .date *{
    line-height: 11px;
}

footer .date small{
    font-size: 12px;
}

footer .date h6{
    font-size: 14.4px;
}


footer .bag-container{
    display: flex;
    flex-wrap: wrap;
}

footer .bag{
    display: inline-block;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 3px;
    padding: 0px 5px;
    margin: 0 3px 5px 0;
    font-size: 12.8px;
    cursor: pointer;
    color: rgb(241, 241, 241);
    font-weight: 400;
}

footer .bag:hover{
    border-color: rgb(22, 22, 22);
    background-color: rgb(22, 22, 22);
}

footer input{
    width: 100%;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.09);
    outline: none;
    color: white;
    font-size: 15.52px;
    padding: 0 11.64px;
    height: 38.9px;
    margin-bottom: 15.52px;
}

footer input::placeholder{
    color: white;
}


footer button{
    border-radius: 99px;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    text-align: center;
    font-size: 15.52px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 0 18.624px;
    min-height: 38.8px;
    cursor: pointer;
    transition-duration: .3s;
}

footer button:hover{
    background-color: var(--dark-primary);
}

#second-row{
    padding: 10px 0 15px;
    background-color: var(--dark-grey);
}

footer .pay-icons-container i{
    margin: 5px;
    font-size: 30px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    transition-duration: .2s;
}

footer .pay-icons-container i:hover{
    color: white;
}

footer .links-container{
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

footer .links-container a{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 12.24px;
    letter-spacing: 0.612px;
    text-transform: uppercase;
    text-decoration: none;
}

footer #second-row p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14.4px;
}

/* End Footer Styles */